################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/AppUtils.Lib/obj
/AppUtils.Lib/bin/Debug/netstandard2.0
/.vs
/AppUtils.Lib/Properties/PublishProfiles
/AppUtils.Test/bin/Release/net6.0
/AppUtils.Test/obj/Release/net6.0
/AppUtils.Lib/bin
/AppUtils.Test/bin/Debug/net6.0
/AppUtils.Test/obj
/AppUtils.Test.Console/obj
/AppUtils.Test.Console/bin/Debug/net8.0
